body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #f0f8fff2;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: #333;
}

#map {
    height: 100%;
    width: 100%;
}

#info-panel {
    width: 30%;        
    height: 90%;       
    position: fixed;   
    top: 5%;           
    right: 0;          
    background-color: #fff;
    padding: 20px; 
    overflow-y: auto; 
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.3);  
    border-radius: 10px;  
    z-index: 15000;    
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

#info-panel.show {
    transform: translateX(0);
    opacity: 1; 
}

#info-panel.hide {
    transform: translateX(100%);
    opacity: 0; 
}


#info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 20px;
}

#info-panel p {
    font-size: 1.25rem;
    color: #555;
    margin: 10px 0;
}

#temperatura {
    font-size: 2rem;
    font-weight: bold;
    color: #ff6f61; 
}

#precipitacao {
    font-size: 1.5rem;
    color: #2e8b57; 
}

.chart-container {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#close-panel {
    cursor: pointer;
    font-weight: bold;
    text-align: right;
    margin-bottom: 15px;
    color: #ff4d4d;
    font-size: 18px; 
    transition: color 0.3s; 
}

#close-panel:hover {
    color: #ff1a1a; 
}

#year-selection {
    display: flex;
    align-items: center; 
    margin-bottom: 25px; 
    justify-content: space-between; 
}

#year-selection button {
    flex-grow: 1; 
    margin: 0 5px; 
    padding: 12px 20px; 
    cursor: pointer;
    border: none; 
    background-color: #007bff; 
    color: white; 
    font-size: 16px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#year-selection button:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}

#year-selection button.selected {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5);
    transform: translateY(-2px);
}

#transport-icons {
    display: flex;
    justify-content: space-around; 
    gap: 15px; 
    margin-bottom: 20px; 
    font-size: 24px;
    color: #333;
    align-items: center; 
}

#transport-icons i {
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease; 
    transform-origin: center; 
}

#transport-icons i:hover {
    transform: scale(1.2); 
    color: #007bff; 
}

#transport-icons i.selected {
    transform: scale(1.2);
    color: #0056b3;
    font-weight: bold;
}

.divider {
    border-bottom: 2px solid #007bff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#dashboard-container {
    margin-top: 20px;
    width: 100%;
}

#dashboard-frame {
    width: 100%;
    height: 310px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#toggle-container {
    position: fixed;
    bottom: 195px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
    z-index: 1000;
}

.switch {
    position: relative;
    display: inline-flex;
    width: 173px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #001eff;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "Bairros";
    height: 30px;
    width: 90px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 34px;
    text-align: center;
    line-height: 30px;
    color: #333;
    font-size: 13px;
    font-weight: bold;
}

input:checked + .slider {
    background-color: #001eff;
}

input:checked + .slider:before {
    transform: translateX(80px);
    content: "Município";
    background-color: #fff;
    color: #333;
}

#toggle-arborizacao + .slider {
    background-color: #ccc;
}

#toggle-arborizacao:checked + .slider {
    background-color: #4CAF50;
}

#toggle-arborizacao + .slider:before {
    content: "Arborização";
}

#toggle-bairros-container {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    z-index: 1000;
}

#toggle-bairros {
    display: none;
}

.switch-bairros {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 24px;
}

.switch-bairros input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-bairros {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider-bairros:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider-bairros {
    background-color: #4CAF50;
}

input:checked + .slider-bairros:before {
    transform: translateX(26px);
}

#toggle-vegetacao + .slider {
    background-color: #ccc;
}

#toggle-vegetacao:checked + .slider {
    background-color: #4CAF50;
}

#toggle-vegetacao + .slider:before {
    content: "Vegetação";
    color: #333;
}

#toggle-risco + .slider {
    background-color: #ccc;
}

#toggle-risco:checked + .slider {
    background-color: red;
}

#toggle-risco + .slider:before {
    content: "Risco";
    color: #333;
}

#toggle-gases + .slider {
    background-color: #ccc;
}

#toggle-gases:checked + .slider {
    background-color: purple;
}

#toggle-gases + .slider:before {
    content: "Emissão";
    color: #333;
}

#toggle-queimadas + .slider {
    background-color: #ccc;
}

#toggle-queimadas:checked + .slider {
    background-color: orange;
}

#toggle-queimadas + .slider:before {
    content: "Queimadas";
    color: #333;
}

#weather-data {
    position: fixed;
    bottom: 10px;
    left: 10px; 
    background-color: white; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    z-index: 9999; 
    font-family: Arial, sans-serif; 
    font-size: 16px;
}

#weather-data p {
    margin: 5px 0; 
    font-size: 16px;
}

#weather-data p#temperatura {
    font-weight: bold;
}

#weather-data p#precipitacao {
    font-weight: bold;
}

#weather-data p#sensacao_termica {
    font-weight: bold;
    color: orangered
}

.legend {
    position: fixed;
    bottom: 110px;
    left: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 190px;
    height: 120px;
}

.legend h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
}
.legend2 {
    position: fixed;
    bottom: 475px;
    right: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 165px;
    height: 80px;
}

.legend2 h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.legend2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend2 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color2 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
}

#logo {
    position: fixed;
    top: 10px;
    right: 10px; 
    z-index: 9998; 
}

#logo img {
    width: 80px;
    height: auto;
    border: 1px solid #333;
    border-radius: 180px;
    box-sizing: border-box;
    z-index: 9998;
}

.custom-info-window {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 250px;   
    max-width: 350px; 
    line-height: 1.4;
}

.custom-info-window strong {
    font-weight: bold;
    color: #333;
}

.custom-info-window .info-row {
    margin-bottom: 10px;
}

.custom-info-window .info-row:last-child {
    margin-bottom: 0;
}

.gm-ui-hover-effect .gm-ui-button {
    font-size: 12px !important; 
    padding: 5px 7px !important; 
    background: #ddd !important; 
    border-radius: 50% !important; 
    width: 18px !important;  
    height: 18px !important; 
}

.gm-ui-hover-effect .gm-ui-button div {
    padding: 0 !important; 
    width: 18px !important;  
    height: 18px !important;
    font-size: 14px !important;
}
